<% include ../partials/header %>


<div class="container">
<div class="col-xs-10 col-sm-8 col-md-6 thumbnails"> 
 <div class="thumbnail">
<table class="table table-bordered table-responsive">
  <thead>
   <tr>
      <th width="100%" scope="col"><h2><center>Datos actualizados del COVID-19 en República Dominicana<center></h2></th>
   
   
     
    </tr>
   
  </thead>
  
</table>
</div>

</div>
</div>


<div class="container">
<div class="col-xs-10 col-sm-8 col-md-6 thumbnails"> 
 <div class="thumbnail">
<table class="table table-bordered table-responsive">
  <thead>
   <tr>
      <th width="75%" scope="col">D E S C R I P C I O N</th>
      <th width="25%" scope="col">R E S U L T D O</th>
   
     
    </tr>
    <tr>
      <td width="10%" scope="col">Contagiados</td>
      <td width="40%" scope="col">1,091</td>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="10%" scope="col">Fallecimiento</td>
      <td width="40%" scope="col">51</td>

    </tr>
  </tbody>

   <tr>
      <td width="10%" scope="col">Recuperados</td>
      <td width="40%" scope="col">5</td>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="10%" scope="col">Aislamiento Hospitalario</td>
      <td width="40%" scope="col">127</td>

    </tr>
  </tbody>

   <tr>
      <td width="10%" scope="col">Aislamiento Domiciliario</td>
      <td width="40%" scope="col">926</td>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="10%" scope="col">Casos Descartados (-)</td>
      <td width="40%" scope="col">2,146</td>

    </tr>
  </tbody>
</table>
</div>

</div>
</div>

<div class="container">
   <% blogs.forEach(function(blog) { %>
      <div class="row">
         <div class="col-xs-10 col-sm-8 col-md-6 thumbnails">      
            <div class="thumbnail">
               <img src="<%= blog.image %>">
               <div class="caption">
                  <h2><%= blog.name %></h2>
                  <p><%- blog.description.substring(0, 500) %>...</p>
                  <a href="/blogs/<%= blog._id %>" class="btn btn-danger">Vea Mas informacion</a>
               </div>
            </div>
         </div>
      </div>
   <% }); %>
</div>




<% include ../partials/footer %>
