<% include ../partials/header %>

<div class="container">
   <% blogs.forEach(function(blog) { %>
      <div class="row">
         <div class="col-xs-10 col-sm-8 col-md-6 thumbnails">      
            <div class="thumbnail">
               <img src="<%= blog.image %>">
               <div class="caption">
                  <h2><%= blog.name %></h2>
                  <p><%- blog.description.substring(0, 500) %>...</p>
                  <a href="/blogs/<%= blog._id %>" class="btn btn-danger">Vea Mas informacion</a>
               </div>
            </div>
         </div>
      </div>
   <% }); %>
</div>


 <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-12 thumbnails_chat">  
         <div class="thumbnail_chat">    
         
<div class="container">
<div id="disqus_thread"></div>
<script>

(function() { 
var d = document, s = d.createElement('script');
s.src = 'https://germanvd-info.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Piedra Blanca: "En Cuarentena" <a href="#">Foro de Comentarios y Sugerencias</a></noscript>

  </table>
</div>
</div>
</div>
</div>

<% include ../partials/footer %>
